/* app css stylesheet */

body {
  padding: 5px 5px 5px 5px;
  background-color: #F5B311;
}

.container{
	padding: 0;
	margin:0;
}

.childrenCardsContainer{
	position: fixed;
	float: right;
	top: 50%;
	margin-top: -310px;
}

.spousesCardsContainer{

}

.parentsCardsContainer{
	margin-top:-205px;
	top: 50%;
	position: fixed;
	right:5px;
	margin-right: 0;
	float:right;
}

.familyCard{
	background-color: #FFD56D;
	border-radius: 30px;
	padding: 10px;
	height: 200px;
	width: 200px;
	margin-bottom: 5px;
}
#childCard{

}

#userCard{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

#parentCard{
}

#spouseCard{

}

.nameLabelContainer{
	border: 1px solid black; 
	height:15%; 
	width: 100%; 
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 5px;
}
.profilePictureOnCard{
	border: 1px solid black; 
	height: 40%; 
	width: 40%; 
	border-radius: 10px;
}
.nameLabel{
	padding: 0;
	margin: 0;
	text-align: center;
}

