/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: #F5B311;
}

.familyCard{
	background-color: #FFD56D;
	border-radius: 30px;
	padding: 10px;
	height: 200px;
	width: 200px;
}
#userCard{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.nameOnCard{
	border: 1px solid white; 
	height:15%; 
	width: 100%; 
	border-radius: 10px;
	margin-bottom: 5px;
}
.profilePictureOnCard{
	border: 1px solid white; 
	height: 40%; 
	width: 40%; 
	border-radius: 10px;
	margin-top
}

